@import '@/styles/var.scss';

.article {

    max-width: 800px;
    margin: 0 auto;
    padding: 4em 1em 2em 1em;


    h1 {
        font-size: 28px;
        padding: 0 0 16px;
        font-weight: 450;
    }

    h2 {
        font-size: 20px;
        padding: 0 0 16px;
        font-weight: 400;
    }

    h3 {
        font-size: 18px;
        padding: 0 0 16px;
        font-weight: 350;
    }

    p {
        font-size: 16px;
        padding: 0 0 16px;
        font-weight: 300;
    }

    ul {
        padding: 0 0 16px 32px;
        font-weight: 300;
        list-style-type: circle;
    }

    a {
        color: $primary-text;
        text-decoration: none;
        font-weight: 300;
    }

    .accordionTitle {
        font-size: 16px;
        font-weight: 450;
        cursor: pointer;
    }
}

.stepLabel text {
    visibility: hidden;
}


.description {
    color: grey;
    font-size: 0.75rem;
    font-weight: 150;
}

.inactiveReason {
    white-space: pre-line;
    color: rgb(255, 158, 158);
    font-size: 0.75rem;
}