@import '@/styles/var.scss';


.skill {
    background-color: lighten($primary-background, 30%);
    color: white;
    display: flex;
    justify-content: space-between;
    font-weight: 250;
    font-size: 16px;
    z-index: 10;
    cursor: pointer;
    position: fixed;
    width: 100%;
    margin-top: 2.75em;
    border-top: 1px solid white;
}



.article {

    max-width: 800px;
    margin: 0 auto;

    h3 {
        font-size: 18px;
        padding: 0 0 16px;
        font-weight: 350;
    }

    ul {
        padding: 0 0 16px 32px;
        font-weight: 300;
        list-style-type: circle;
    }

}
