@import '@/styles/var.scss';

.video {

    max-width: 800px;
    margin: 0 auto;
    padding: 4em 1em 0 1em;

    
    h1 {
        font-size: 28px;
        padding: 0 0 16px;
        font-weight: 450;
    }

    p {
        font-size: 16px;
        padding: 0 0 16px;
        font-weight: 300;
    }

    .videoControl {
        margin-top: 16px;
        gap: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .videoTime {
        font-size: 14px;
        font-weight: 400;
        color: #3e3e3e;
    }

}

